body {
    margin: 0;
    top: 0;
    padding: 0;
    background-color: #F1f1f1;

}
#container {
    display: grid;
    grid-template-areas: "h h"
    "a m";
}
header {
    grid-area: h;
    border-bottom: 2px solid #545353;
    text-align: center;
    color: #222222;
}
main {
    grid-area: m;
    width: 1400px;
    position: absolute;
    top: 90px;
    left: 100px;
}
aside {
    grid-area: a;
    width: 500px;
    height: 656px;
    background-color: #004398;
    transform: TranslateX(-450px);
    transition: transform 1s ease;
    #setinha {
        transform: rotate(0deg);
        transition: transform 0.4s ease;
    }
}
aside:hover {
    top: 82px;
    transform: translateX(0);
    position: absolute;
    #setinha {
        transform: rotate(180deg);
    }
}

footer {
    grid-area: f;
    position: absolute;
    bottom: 0px;
    right: 0;
}
#escolha {
    display: flex;
    margin: auto;
    width: 1100px;
    justify-content: space-around;
    margin-top: 20px;
}
.tar {
    width: 220px;
    text-align: center;
    background-color: #ffc300;
    color: #222222;
    padding: 30px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}
#p1:not(:target) {
    display: none;
}
#p2:not(:target) {
    display: none;
}
#p3:not(:target) {
    display: none;
}
#textos {
    margin-top: 70px;
}
#txt {
    display: flex;
}
.testes {
    background-color: #ffc300;
    width: 300px;
    margin-left: 60px;
    margin-top: 90px;
    font-size: 18px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px;
    text-align: center;
    color: #222222;
    display: block;
}
.testes:hover {
    background-color: #bf9819;
    transition: background-color 0.4s ease;
}